<% path = type == :new ? cats_url : cat_url(cat) %>
<% text = type == :new ? "create cat" : "update cat"%>
<h2>
    <%= text %>
</h2>

<form action="<%= path %>" method="POST">
    <% if type == :edit %>
    <input type="hidden" name="_method" value="PATCH"/>
    <% end %>
    <div>
        <label for="name">Name:</label>
        <input id="name" name="cat[name]" value="<%= @cat.name %>" />
    </div>
   
    <div>
        <label for="birth_date">Birthday:</label>
        <input id="birth_date" name="cat[birth_date]" value="<%= @cat.birth_date %>" />
    </div>
    <div>
        
            <label for="color">Color:</label>
        <select id="color" name="cat[color]">
            <option value="CAT_COLORS">orange </option>
            <option value="CAT_COLORS"> red</option>
            <option value="CAT_COLORS"> blue</option>
            <option value="CAT_COLORS"> green</option>
            <option value="CAT_COLORS"> teal</option>
        </select>
    </div>
    <div>
        <label for="sex">Sex:</label>
        <input id="sex" name="cat[sex]" value="<%= @cat.sex %>" />
    </div>
    <div>
        <label for="description">Description:</label>
        <input id="description" name="cat[description]" value="<%= @cat.description %>" />
    </div>
    <input type="submit" value=text />
</form>