<h2>Create Cat</h2>

<!-- <form action="<%= cats_url %>" method="POST">
    <div>
        <label for="name">Name:</label>
        <input id="name" name="cat[name]" value="<%= @cat.name %>" />
    </div>
   
    <div>
        <label for="birth_date">Birthday:</label>
        <input id="birth_date" name="cat[birth_date]" value="<%= @cat.birth_date %>" />
    </div>
    <div>
        <label for="color">Color:</label>
        <input id="color" name="cat[color]" value="<%= @cat.color %>" />
    </div>
    <div>
        <label for="sex">Sex:</label>
        <input id="sex" name="cat[sex]" value="<%= @cat.sex %>" />
    </div>
    <div>
        <label for="description">Description:</label>
        <input id="description" name="cat[description]" value="<%= @cat.description %>" />
    </div>
    <input type="submit" value="Create Cat" />
</form> -->


